@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p::-moz-selection {
  background-color: #d2d224;
  color: black;
}

p::selection {
  background-color: #d2d224;
  color: black;
}
h3::selection {
  background-color: #d2d224;
  color: black;
}

nav.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: transparent;
}
nav.navbar .container .navbar-toggler {
  width: 55px;
  height: 30px;
}
nav.navbar .container .navbar-toggler span i {
  color: #000;
}
nav.navbar .container a.navbar-brand {
  color: #d2f21b;
  font-weight: 700;
  font-family: roboto, sans-serif;
  letter-spacing: 2px;
  line-height: 30px;
  z-index: 5;
  font-size: 30px;
}
nav.navbar .container a.navbar-brand span {
  color: #fff;
}
nav.navbar .container ul.navbar-nav li a {
  font-size: 16px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  transition: all 0.4s;
}
nav.navbar .container ul.navbar-nav li a:hover {
  color: #d2f21b;
}

#Header {
  background-image: url(../new_img/home1.jpg);
  height: 120vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
#Header .container {
  position: relative;
}
#Header .container .row.header_title {
  position: absolute;
  top: 200px;
}
#Header .container .row.header_title p.navbar-brand {
  color: #d2f21b;
  font-weight: 500;
  font-family: roboto, sans-serif;
  letter-spacing: 1px;
  z-index: 5;
  font-size: 25px;
}
#Header .container .row.header_title p.navbar-brand span {
  color: #fff;
}
#Header .container .row.header_title h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 50px;
  font-size: 45px;
  color: #fff;
}
#Header .container .row.header_title h1 span {
  color: #d2f21b;
}
#Header .container .row.header_title p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #fff;
  line-height: 29px;
  font-size: 22px;
  padding: 20px 0px;
}
#Header .container .row.header_title button.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  width: 200px;
  height: 60px;
  background-color: #d2f21b;
  border-radius: 40px;
  transition: all 0.4s;
}
#Header .container .row.header_title button.btn:hover {
  background-color: #fff;
}
#Header .container .header_title_2 {
  margin-top: 160px;
}
#Header .container .header_title_2 h5 {
  line-height: 23px;
  font-size: 18px;
  font-family: roboto, sans-serif;
  font-weight: 300;
}
#Header .container .header_title_2 h5 a {
  color: #ffffff;
  transition: all 0.4s;
}
#Header .container .header_title_2 h5 a:hover {
  color: #d2f21b;
  font-weight: 400;
}

#About_djBeats {
  box-shadow: 0px -52px 60px 30px #131a28;
  width: 100%;
  z-index: 3;
  overflow-x: hidden;
  background-color: #131a28;
  padding-top: 40px;
  padding-left: 0;
  padding-right: 0;
}
#About_djBeats .container .row.About_title {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}
#About_djBeats .container .row.About_title h1 {
  font-family: roboto, sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 48px;
}
#About_djBeats .container .row.About_title h1 span {
  color: #d2f21b;
}
#About_djBeats .container .row.About_title p {
  font-family: roboto, sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 19px;
  line-height: 18px;
}
#About_djBeats .container .row.About_content p {
  font-family: roboto, sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 15px;
}
#About_djBeats .container .row.About_content a {
  color: #d2d224;
  font-size: 15px;
}

#Our_Services_page {
  width: 100%;
  background-color: #131a28;
  padding-top: 40px;
  padding-bottom: 60px;
}
#Our_Services_page .container .row.Services_title {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}
#Our_Services_page .container .row.Services_title h1 {
  font-family: roboto, sans-serif;
  font-weight: 300;
  color: #d2f21b;
  font-size: 48px;
}
#Our_Services_page .container .row.Services_title h1 span {
  color: #fff;
}
#Our_Services_page .container .row.Services_title p {
  font-family: roboto, sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 19px;
  line-height: 18px;
}
#Our_Services_page .container .row.Services_content .row.ser_content h5 {
  color: #d2f21b;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
}
#Our_Services_page .container .row.Services_content .row.ser_content p {
  line-height: 20px;
  color: #ffffff;
  font-family: roboto, sans-serif;
  font-weight: 300;
  font-size: 16px;
}
#Our_Services_page .container .row.Services_content .row.ser_content .ser_content_img:hover img {
  transition: all 0.8s;
  background-color: #345eb7;
  border-radius: 15px;
  transform: rotateY(180deg);
}

#Courses_Trainings_page {
  width: 100%;
  background-color: #131a28;
  padding-bottom: 100px;
}
#Courses_Trainings_page .container .row.Courses_title {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}
#Courses_Trainings_page .container .row.Courses_title h1 {
  font-family: roboto, sans-serif;
  font-weight: 300;
  color: #d2f21b;
  font-size: 48px;
}
#Courses_Trainings_page .container .row.Courses_title h1 span {
  color: #fff;
}
#Courses_Trainings_page .container .row.Courses_title p {
  font-family: roboto, sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 19px;
  line-height: 18px;
}
#Courses_Trainings_page .container .row.Courses_cards .Cours_card_text {
  transition: all 0.5s;
  position: absolute;
  top: 24%;
  left: 12%;
  padding: 50px 30px;
  z-index: 3;
}
#Courses_Trainings_page .container .row.Courses_cards .Cours_card_text h2 {
  font-size: 30px;
  color: #fff;
  line-height: 30px;
  font-family: roboto, sans-serif;
  font-weight: 400;
  text-align: center;
  padding-bottom: 20px;
}
#Courses_Trainings_page .container .row.Courses_cards .Cours_card_text p {
  color: #ffffff;
  font-weight: 300;
  font-family: roboto, sans-serif;
  text-align: center;
  line-height: 22px;
  font-size: 18px;
}
#Courses_Trainings_page .container .row.Courses_cards .Cours_card_text h1 {
  font-weight: 400;
  font-family: roboto, sans-serif;
  color: #d2f21b;
  text-align: center;
  font-size: 48px;
}
#Courses_Trainings_page .container .row.Courses_cards .Cours_card_text span {
  font-weight: 300;
  font-family: roboto, sans-serif;
  color: #fff;
  font-size: 15px;
  text-align: center;
  display: block;
}
#Courses_Trainings_page .container .row.Courses_cards .Cours_card_text a {
  width: 220px;
  height: 60px;
  border-radius: 50px;
  background-color: #d2f21b;
  margin-top: 40px;
  transition: all 0.4s;
}
#Courses_Trainings_page .container .row.Courses_cards .Cours_card_text a:hover {
  background-color: #3f6ed3 !important;
}
#Courses_Trainings_page .container .row.Courses_cards .Cours_card_text a span {
  text-align: center;
  font-weight: 400;
  font-family: roboto, sans-serif;
  font-size: 17px;
  color: #000;
  padding-top: 17px;
  padding-bottom: 17px;
  transition: all 0.4s;
}
#Courses_Trainings_page .container .row.Courses_cards .Cours_card_text a span:hover {
  color: #d2d224 !important;
  font-weight: 400;
}
#Courses_Trainings_page .container .row.Courses_cards .cours_hover_card {
  transition: all 0.5s;
  position: relative;
}
#Courses_Trainings_page .container .row.Courses_cards .cours_hover_card:hover .card_cover {
  transform: scale(1);
}
#Courses_Trainings_page .container .row.Courses_cards .cours_hover_card:hover .Cours_card_text h2 {
  color: #000;
  font-weight: 500;
}
#Courses_Trainings_page .container .row.Courses_cards .cours_hover_card:hover .Cours_card_text h1 {
  color: #000;
}
#Courses_Trainings_page .container .row.Courses_cards .cours_hover_card:hover .Cours_card_text p {
  color: #222;
  font-weight: 400;
}
#Courses_Trainings_page .container .row.Courses_cards .cours_hover_card:hover .Cours_card_text span {
  color: #222;
  font-weight: 400;
}
#Courses_Trainings_page .container .row.Courses_cards .cours_hover_card:hover .Cours_card_text a {
  background-color: #fff;
  font-weight: 400;
}
#Courses_Trainings_page .container .card_cover {
  transition: all 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(210, 242, 27, 0.6);
  z-index: 2;
  transform: scale(0);
}

#Our_Achievements_page {
  width: 100%;
  height: 100vh;
  background-color: #131a28;
  padding-bottom: 200px;
}
#Our_Achievements_page .Archievements_content {
  position: relative;
}
#Our_Achievements_page .Archievements_content .Achivements_card img {
  height: 90vh;
  -o-object-fit: cover;
     object-fit: cover;
}
#Our_Achievements_page .Archievements_content .Archivements_title {
  position: absolute;
  top: 15%;
  left: 0;
}
#Our_Achievements_page .Archievements_content .Archivements_title h1 {
  color: #ffffff;
  font-family: roboto, sans-serif;
  font-weight: 300;
  letter-spacing: -1px;
  font-size: 48px;
  line-height: 48px;
}
#Our_Achievements_page .Archievements_content .Archivements_title h1 span {
  color: #d2f21b;
}
#Our_Achievements_page .Archievements_content .Archivements_title p {
  color: #ffffff;
  font-family: roboto, sans-serif;
  font-weight: 300;
  font-size: 18px;
}
#Our_Achievements_page .Archievements_content .Archivements_title .container h2 {
  color: #d2f21b;
  font-family: roboto, sans-serif;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 48px;
  font-size: 48px;
  text-align: center;
}

#Our_Teachers_page {
  width: 100%;
  background-color: #131a28;
}
#Our_Teachers_page .container .row.Our_Teachers_title {
  text-align: center;
  margin-bottom: 30px;
}
#Our_Teachers_page .container .row.Our_Teachers_title h1 {
  font-family: roboto, sans-serif;
  font-weight: 300;
  font-size: 48px;
  color: #fff;
}
#Our_Teachers_page .container .row.Our_Teachers_title h1 span {
  color: #d2f21b;
}
#Our_Teachers_page .container .row.Our_Teachers_title p {
  font-family: roboto, sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 19px;
  line-height: 18px;
}
#Our_Teachers_page .container .card_team_in {
  margin-top: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Our_Teachers_page .container .card_team_in .cards_item {
  height: 350px;
}
#Our_Teachers_page .container .card_team_in .cards_item .cardd {
  position: relative;
  max-width: 360px;
  height: 270px;
  background-color: #fff;
  border-radius: 4px;
  margin: 30px 0px;
  padding: 20px 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.4s ease-in-out;
}
#Our_Teachers_page .container .card_team_in .cards_item .cardd:hover {
  height: 360px;
  z-index: 6;
}
#Our_Teachers_page .container .card_team_in .cards_item .cardd:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}
#Our_Teachers_page .container .card_team_in .cards_item .cardd .imgBx {
  position: relative;
  width: 318px;
  height: 270px;
  top: -52px;
  left: 13px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}
#Our_Teachers_page .container .card_team_in .cards_item .cardd .imgBx img {
  max-width: 100%;
  height: 270px;
  border-radius: 4px;
}
#Our_Teachers_page .container .card_team_in .cards_item .cardd .content {
  position: relative;
  margin-top: -140px;
  padding: 5px 11px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
#Our_Teachers_page .container .card_team_in .cards_item .cardd .content h2 {
  font-size: 20px;
  font-family: roboto, sans-serif;
  font-weight: 500;
  color: #0744c8;
}
#Our_Teachers_page .container .card_team_in .cards_item .cardd .content p {
  color: #222;
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
}
#Our_Teachers_page .container .card_team_in .all_card_item {
  display: none;
}
#Our_Teachers_page .container .card_team_in .close_batafsil {
  padding: 10px 30px;
  border: 1px solid transparent;
  background-color: transparent;
  font-family: roboto, sans-serif;
  transition: all 0.7s ease;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  background: #d2f21b;
  border-radius: 5px;
}
#Our_Teachers_page .container .card_team_in .close_batafsil:hover {
  border: 1px solid #d2f21b;
  background-color: transparent;
  color: #3f6ed3;
  font-family: roboto, sans-serif;
}
#Our_Teachers_page .container .team_header {
  text-align: center;
}
#Our_Teachers_page .container .team_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  padding-bottom: 20px;
  font-family: roboto, sans-serif;
}
#Our_Teachers_page .container .team_link {
  padding: 10px 30px;
  border: 1px solid transparent;
  background-color: transparent;
  transition: all 0.7s ease;
  font-style: normal;
  font-weight: 500;
  font-family: roboto, sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  background-color: #d2d224;
  border-radius: 5px;
  display: block;
}
#Our_Teachers_page .container .team_link:hover {
  border: 1px solid #d2f21b;
  background-color: transparent;
  color: #3f6ed3;
}

#Our_Students {
  width: 100%;
  background-color: #131a28;
  padding-top: 100px;
  padding-bottom: 100px;
}
#Our_Students .container .row.Our_Student_title {
  text-align: center;
  margin-bottom: 30px;
}
#Our_Students .container .row.Our_Student_title h1 {
  font-family: roboto, sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #d2f21b;
}
#Our_Students .container .row.Our_Student_title h1 span {
  color: #fff;
}
#Our_Students .container .row.Our_Student_title p {
  font-family: roboto, sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 19px;
  line-height: 18px;
}
#Our_Students .container .row.Student_card {
  padding: 50px 0px;
}
#Our_Students .container .row.Student_card .cards {
  position: relative;
  width: 285px;
  height: 350px;
  background: linear-gradient(#2196f3, #2196f3 30%, #1d3548 30%, #1d3548);
  overflow: hidden;
}
#Our_Students .container .row.Student_card .cards .imgBix {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  z-index: 5;
  transform-origin: top;
}
#Our_Students .container .row.Student_card .cards .imgBix img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#Our_Students .container .row.Student_card .cards:hover .imgBix {
  transform: translateY(20px) scale(0.7);
}
#Our_Students .container .row.Student_card .cards:hover .content_text {
  transform: translateY(0);
}
#Our_Students .container .row.Student_card .cards:hover .imgBix img {
  border-radius: 10px;
}
#Our_Students .container .row.Student_card .cards .content_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
  transition: 0.4s ease-in-out;
  transform: translateY(100%);
}
#Our_Students .container .row.Student_card .cards .content_text .details {
  text-align: center;
  transition: 0.5s ease-in-out;
}
#Our_Students .container .row.Student_card .cards .content_text .details h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
#Our_Students .container .row.Student_card .cards .content_text .details h3 span {
  font-size: 16px;
  color: #d2f21b;
}

#Testimonials_page {
  width: 100%;
  background-color: #131a28;
  padding-bottom: 80px;
}
#Testimonials_page .container .row.Testimonial_title {
  text-align: center;
  margin-bottom: 30px;
}
#Testimonials_page .container .row.Testimonial_title h1 {
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #d2f21b;
}
#Testimonials_page .container .row.Testimonial_title p {
  font-family: roboto, sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 19px;
  line-height: 18px;
}
#Testimonials_page .container .testimonial {
  position: relative;
  width: 950px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0px;
  row-gap: 30px;
  overflow: hidden;
}
#Testimonials_page .container .testimonial img {
  border-radius: 50%;
  width: 170px;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
}
#Testimonials_page .container .testimonial .testi_content .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
#Testimonials_page .container .testimonial .testi_content .slide p {
  padding: 40px 120px 0px;
  text-align: center;
  line-height: 20px;
  letter-spacing: 0.7px;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 15px;
}
#Testimonials_page .container .testimonial .testi_content .slide span {
  color: #d2f21b;
}
#Testimonials_page .container .testimonial .testi_content .slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Testimonials_page .container .testimonial .testi_content .slide .details span.namee {
  font-family: roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 22px;
}
#Testimonials_page .container .testimonial .testi_content .slide .details span.job {
  font-family: roboto, sans-serif;
  font-size: 16px;
  color: #2196f3;
  font-weight: 400;
}
#Testimonials_page .container .testimonial .nav-btnn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #1a1a18;
  transition: all 0.4s;
}
#Testimonials_page .container .testimonial .nav-btnn:hover {
  background-color: rgba(210, 242, 27, 0.5882352941);
}
#Testimonials_page .container .testimonial .nav-btnn::after,
#Testimonials_page .container .testimonial .nav-btnn::before {
  font-size: 20px;
  color: #fff;
}
#Testimonials_page .container .testimonial .swiper-pagination-bullet {
  background-color: #e2e222;
  padding: 7px;
  margin: 0px 6px;
}

#Photo_Gallery {
  position: relative;
}
#Photo_Gallery .mySwiper2 {
  width: 100%;
  height: 100vh;
}
#Photo_Gallery .mySwiper2 .swipper_wrapper2 .swipper_slide2 {
  background-position: center;
  background-size: cover;
}
#Photo_Gallery .mySwiper2 .swipper_wrapper2 .swipper_slide2 img {
  display: block;
  width: 100%;
  height: 100%;
}
#Photo_Gallery .mySwiper2 .swiper-pagination-fraction {
  bottom: 8%;
  left: 0;
  width: 100%;
  font-family: roboto, sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 500;
  color: yellow;
}
#Photo_Gallery .mySwiper2 .container .row.photo_gallery_title {
  position: absolute;
  top: 10%;
  left: 39%;
  z-index: 1;
  text-align: center;
}
#Photo_Gallery .mySwiper2 .container .row.photo_gallery_title h1 {
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 42px;
  color: #d2f21b;
}
#Photo_Gallery .mySwiper2 .container .row.photo_gallery_title p {
  font-family: roboto, sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 20px;
  line-height: 18px;
  white-space: nowrap;
}


#Question_answer {
  width: 100%;
  background-color: #131a28;
  padding: 100px 0px;
}
#Question_answer .container .row.Gallery_title {
  text-align: center;
  margin-bottom: 100px;
}
#Question_answer .container .row.Gallery_title h1 {
  font-family: roboto, sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #fff;
}
#Question_answer .container .row.Gallery_title h1 span {
  color: #d2f21b;
}
#Question_answer .container .row.Gallery_title p {
  font-family: roboto, sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 19px;
  line-height: 18px;
  padding-top: 30px;
}
#Question_answer .container .accordion .accordion-item {
  background-color: #131a28;
  border: none;
  padding: 0px 100px;
}
#Question_answer .container .accordion .accordion-item .accordion-header {
  /* Custom style */
  /* Custom style End */
  background-color: transparent;
}
#Question_answer .container .accordion .accordion-item .accordion-header .accordion-button {
  color: #fff;
  transition: all 0.5s;
  margin: 20px 0px;
  border-radius: 20px;
  background-color: #192031;
  box-shadow: unset;
  font-weight: 400;
  font-family: roboto, sans-serif;
}
#Question_answer .container .accordion .accordion-item .accordion-header .accordion-button:hover {
  background-color: #b1c731;
  color: #000;
  font-family: 500px;
}
#Question_answer .container .accordion .accordion-item .accordion-header .accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  transform: scale(0.7) !important;
  transition: all 0.2s;
  font-weight: 700;
  color: #fff !important;
}
#Question_answer .container .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  color: #fff !important;
  transition: all 0.3s;
}
#Question_answer .container .accordion .accordion-item .accordion-collapse {
  background-color: rgb(32, 48, 48);
}
#Question_answer .container .accordion .accordion-item .accordion-collapse .accordion-body {
  color: #fff;
}

#Ready_Training_page {
  width: 100%;
  background-image: url(../IMG/background_05.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
#Ready_Training_page .container .row.Ready_Training_title {
  text-align: center;
  padding-top: 30px;
}
#Ready_Training_page .container .row.Ready_Training_title h1 {
  font-family: roboto, sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #d2f21b;
}
#Ready_Training_page .container .row.Ready_Training_title h1 span {
  color: #fff;
}
#Ready_Training_page .container .row.Ready_Training_title p {
  font-family: roboto, sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 19px;
  line-height: 18px;
  padding-top: 10px;
}
#Ready_Training_page .container .row.Read_form {
  padding-top: 30px;
}
#Ready_Training_page .container .row.Read_form form {
  padding-bottom: 30px;
}
#Ready_Training_page .container .row.Read_form form .Form_inp input {
  box-shadow: unset;
  padding: 13px 17px;
  border-radius: 25px;
  background-color: transparent;
  color: white;
}
#Ready_Training_page .container .row.Read_form form .Form_inp ::-moz-placeholder {
  letter-spacing: 0.5px;
  font-size: 15px;
  color: rgba(210, 210, 36, 0.8392156863);
  font-family: roboto, sans-serif;
}
#Ready_Training_page .container .row.Read_form form .Form_inp :-ms-input-placeholder {
  letter-spacing: 0.5px;
  font-size: 15px;
  color: rgba(210, 210, 36, 0.8392156863);
  font-family: roboto, sans-serif;
}
#Ready_Training_page .container .row.Read_form form .Form_inp ::placeholder {
  letter-spacing: 0.5px;
  font-size: 15px;
  color: rgba(210, 210, 36, 0.8392156863);
  font-family: roboto, sans-serif;
}
#Ready_Training_page .container .row.Read_form form .Form_inp :focus {
  border: 1px solid #08538a;
}
#Ready_Training_page .container .row.Read_form form .Form_text textarea {
  background-color: transparent;
  overflow-y: hidden;
  color: #fff;
  border-radius: 20px;
  height: 150px;
  box-shadow: unset;
}
#Ready_Training_page .container .row.Read_form form .Form_text ::-moz-placeholder {
  letter-spacing: 0.5px;
  font-size: 15px;
  color: rgba(210, 210, 36, 0.8352941176);
  font-family: roboto, sans-serif;
}
#Ready_Training_page .container .row.Read_form form .Form_text :-ms-input-placeholder {
  letter-spacing: 0.5px;
  font-size: 15px;
  color: rgba(210, 210, 36, 0.8352941176);
  font-family: roboto, sans-serif;
}
#Ready_Training_page .container .row.Read_form form .Form_text ::placeholder {
  letter-spacing: 0.5px;
  font-size: 15px;
  color: rgba(210, 210, 36, 0.8352941176);
  font-family: roboto, sans-serif;
}
#Ready_Training_page .container .row.Read_form form .Form_text :focus {
  border: 1px solid #08538a;
}
#Ready_Training_page .container .row.Read_form form .form_btn {
  margin-top: 20px;
  background-color: #d2f21b;
  width: 150px;
  height: 45px;
  border: 1px solid transparent;
  border-radius: 20px;
}
#Ready_Training_page .container .row.Read_contat a {
  color: #fff;
  font-size: 32px;
  margin: 0px 15px;
  transition: all 0.4s;
}
#Ready_Training_page .container .row.Read_contat a :hover.bi-facebook {
  color: #1f61cb;
}
#Ready_Training_page .container .row.Read_contat a :hover.bi-twitter {
  color: #d2d224;
}
#Ready_Training_page .container .row.Read_contat a :hover.bi-instagram {
  color: red;
}
#Ready_Training_page .container .row.Read_contat a :hover.bi-telegram {
  color: rgb(33, 93, 221);
}

.Footer {
  width: 100%;
  background-color: #131a28;
  box-shadow: 0px -52px 60px 30px #131a28;
}
.Footer .container .row.Footer_contact {
  padding: 40px 0px;
}
.Footer .container .row.Footer_contact a {
  color: #fff;
  font-size: 20px;
  transition: all 0.4s;
}
.Footer .container .row.Footer_contact a :hover {
  color: #d2d224;
}
.Footer .container .row.Footer_contact a.Footer_logo h3 {
  padding: 20px 0px;
  color: #d2d224;
  font-weight: 700;
  font-family: roboto, sans-serif;
  letter-spacing: 1px;
  transition: all 0.4s;
}
.Footer .container .row.Footer_contact a.Footer_logo h3 span {
  color: #fff;
}
.Footer .container .row.Footer_contact a.Footer_logo :hover {
  color: #fff !important;
}
.Footer .container .row.Footer_contact a.Footer_logo :hover span {
  color: #d2d224 !important;
}
.Footer .container .row.Footer_contact a.Footer_Up {
  font-size: 30px;
  font-weight: 700;
  font-family: roboto, sans-serif;
  color: #d2d224;
}
/* FOOTER  END */


/* --------------------------------------------------------------------------- */

@media (min-width: 992px) and (max-width: 1199px) {
  #Our_Teachers_page .container .card_team_in .cards_item .cardd {
    position: relative;
    max-width: 360px;
    height: 270px;
    margin: 30px 0px;
    padding: 20px 0px;
  }
  #Our_Teachers_page .container .card_team_in .cards_item .cardd .imgBx {
    position: relative;
    width: 270px;
    height: 270px;
    top: -50px;
    left: 13px;
  }
  #Our_Students .container .row.Student_card .cards {
    position: relative;
    width: 320px;
    height: 350px;
    background: linear-gradient(#2196f3, #2196f3 30%, #1d3548 30%, #1d3548);
    overflow: hidden;
  }
}
@media (min-width: 800px) and (max-width: 991px) {
  #Photo_Gallery .mySwiper2 .container .row.photo_gallery_title {
    position: absolute;
    top: 10%;
    left: 36%;
    z-index: 1;
    text-align: center;
  }
  #Question_answer .container .accordion .accordion-item {
    background-color: #131a28;
    border: none;
    padding: 0px 0px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #Our_Teachers_page .container .card_team_in .cards_item .cardd {
    position: relative;
    max-width: 360px;
    height: 270px;
    margin: 30px -5px;
    padding: 20px 0px;
  }
  #Our_Teachers_page .container .card_team_in .cards_item .cardd .imgBx {
    position: relative;
    width: 314px;
    height: 270px;
    top: -50px;
    left: 15px;
  }
  #Our_Students .container .row.Student_card .cards {
    position: relative;
    width: 360px;
    height: 350px;
    background: linear-gradient(#2196f3, #2196f3 30%, #1d3548 30%, #1d3548);
    overflow: hidden;
  }
  #Question_answer .container .accordion .accordion-item {
    background-color: #131a28;
    border: none;
    padding: 0px 50px;
  }
}
@media (min-width: 650px) and (max-width: 799px) {
  #Photo_Gallery .mySwiper2 .container .row.photo_gallery_title {
    position: absolute;
    top: 10%;
    left: 30%;
    z-index: 1;
    text-align: center;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  #Our_Teachers_page .container .card_team_in .cards_item .cardd {
    max-width: unset;
  }
  #Our_Teachers_page .container .card_team_in .cards_item .cardd .imgBx {
    width: 478px;
  }
  #Our_Teachers_page .container .card_team_in .cards_item .cardd .imgBx img {
    max-width: unset;
    width: 100%;
  }
  #Our_Students .container .row.Student_card .cards {
    position: relative;
    width: 85%;
    margin: 0 auto;
    height: 350px;
    background: linear-gradient(#2196f3, #2196f3 30%, #1d3548 30%, #1d3548);
    overflow: hidden;
  }
  #Testimonials_page .container .testimonial .testi_content .slide p {
    padding: 40px 50px 0px;
    line-height: 20px;
    letter-spacing: 0.7px;
    font-weight: 300;
    font-size: 15px;
  }
  #Question_answer .container .accordion .accordion-item {
    background-color: #131a28;
    border: none;
    padding: 0px 0px;
  }
}
@media (min-width: 550px) and (max-width: 649px) {
  #Photo_Gallery .mySwiper2 {
    height: 70vh;
  }
  #Photo_Gallery .mySwiper2 .container .row.photo_gallery_title {
    position: absolute;
    top: 10%;
    left: 28%;
    z-index: 1;
    text-align: center;
  }
}
@media (min-width: 480px) and (max-width: 549px) {
  #Photo_Gallery .mySwiper2 {
    height: 70vh;
  }
  #Photo_Gallery .mySwiper2 .container .row.photo_gallery_title {
    position: absolute;
    top: 10%;
    left: 25%;
    z-index: 1;
    text-align: center;
  }
  #Photo_Gallery .mySwiper2 .swipper_btn2::after,
#Photo_Gallery .mySwiper2 .swipper_btn2::before {
    font-size: 25px;
    color: #d2f21b;
  }
  #Photo_Gallery .mySwiper2 .swipper_btn1::after,
#Photo_Gallery .mySwiper2 .swipper_btn1::before {
    font-size: 25px;
    color: #d2f21b;
  }
}
@media (min-width: 400px) and (max-width: 479px) {
  #Photo_Gallery .mySwiper2 {
    height: 70vh;
  }
  #Photo_Gallery .mySwiper2 .container .row.photo_gallery_title {
    position: absolute;
    top: 10%;
    left: 27%;
    z-index: 1;
    text-align: center;
  }
  #Photo_Gallery .mySwiper2 .container .row.photo_gallery_title h1 {
    font-size: 35px;
  }
  #Photo_Gallery .mySwiper2 .container .row.photo_gallery_title p {
    font-size: 18px;
  }
  #Photo_Gallery .mySwiper2 .swipper_btn2::after,
#Photo_Gallery .mySwiper2 .swipper_btn2::before {
    font-size: 24px;
    color: #d2f21b;
  }
  #Photo_Gallery .mySwiper2 .swipper_btn1::after,
#Photo_Gallery .mySwiper2 .swipper_btn1::before {
    font-size: 24px;
    color: #d2f21b;
  }
}
@media (min-width: 410px) and (max-width: 575px) {
  #Our_Teachers_page .container .card_team_in .cards_item .cardd {
    max-width: unset;
    margin: 15px 10px;
  }
  #Our_Teachers_page .container .card_team_in .cards_item .cardd .imgBx {
    width: 94%;
  }
  #Our_Teachers_page .container .card_team_in .cards_item .cardd .imgBx img {
    max-width: unset;
    width: 100%;
  }
  #Our_Teachers_page .container .card_team_in .cards_item .cardd .content {
    padding: 10px 20px;
  }
  #Our_Students .container .row.Student_card .cards {
    position: relative;
    width: 80%;
    margin: 0 auto;
    height: 350px;
    background: linear-gradient(#2196f3, #2196f3 30%, #1d3548 30%, #1d3548);
    overflow: hidden;
  }
  #Testimonials_page .container .testimonial img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
  #Testimonials_page .container .testimonial .testi_content .slide p {
    padding: 40px 35px 0px;
    line-height: 20px;
    letter-spacing: 0.5px;
    font-weight: 300;
    font-size: 15px;
  }
  #Question_answer .container .accordion .accordion-item {
    background-color: #131a28;
    border: none;
    padding: 0px 0px;
  }
}
@media (min-width: 350px) and (max-width: 399px) {
  #Photo_Gallery .mySwiper2 {
    height: 60vh;
  }
  #Photo_Gallery .mySwiper2 .container .row.photo_gallery_title {
    position: absolute;
    top: 10%;
    left: 27%;
    z-index: 1;
    text-align: center;
  }
  #Photo_Gallery .mySwiper2 .container .row.photo_gallery_title h1 {
    font-size: 28px;
  }
  #Photo_Gallery .mySwiper2 .container .row.photo_gallery_title p {
    font-size: 18px;
    white-space: nowrap;
    color: #000;
    font-weight: 500;
    font-family: roboto, sans-serif;
  }
  #Photo_Gallery .mySwiper2 .swipper_btn2::after,
#Photo_Gallery .mySwiper2 .swipper_btn2::before {
    font-size: 24px;
    color: #d2f21b;
  }
  #Photo_Gallery .mySwiper2 .swipper_btn1::after,
#Photo_Gallery .mySwiper2 .swipper_btn1::before {
    font-size: 24px;
    color: #d2f21b;
  }
}
@media (min-width: 310px) and (max-width: 409px) {
  #Our_Teachers_page .container .card_team_in .cards_item .cardd {
    max-width: unset;
    height: 230px;
  }
  #Our_Teachers_page .container .card_team_in .cards_item .cardd .imgBx {
    width: 96%;
    left: 4px;
    height: 245px;
  }
  #Our_Teachers_page .container .card_team_in .cards_item .cardd .imgBx img {
    max-width: unset;
    width: 100%;
    height: 245px;
  }
  #Our_Teachers_page .container .card_team_in .cards_item .cardd .content {
    padding: 10px 20px;
  }
  #Our_Students .container .row.Student_card .cards {
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: 350px;
    background: linear-gradient(#2196f3, #2196f3 30%, #1d3548 30%, #1d3548);
    overflow: hidden;
  }
  #Testimonials_page .container .testimonial img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
  #Testimonials_page .container .testimonial .testi_content .slide p {
    padding: 40px 15px 0px;
    line-height: 20px;
    letter-spacing: 0.5px;
    font-weight: 300;
    font-size: 15px;
  }
  #Testimonials_page .container .testimonial .swiper-button-next.nav-btnn {
    height: 25px;
    width: 25px;
    margin-right: -13px;
  }
  #Testimonials_page .container .testimonial .swiper-button-prev.nav-btnn {
    height: 25px;
    width: 25px;
    margin-left: -13px;
  }
  #Testimonials_page .container .testimonial .nav-btnn::after,
#Testimonials_page .container .testimonial .nav-btnn::before {
    font-size: 14px;
    color: #fff;
  }
  #Question_answer .container .accordion .accordion-item {
    background-color: #131a28;
    border: none;
    padding: 0px 0px;
  }
}
@media (min-width: 310px) and (max-width: 349px) {
  #Photo_Gallery .mySwiper2 {
    height: 50vh;
  }
  #Photo_Gallery .mySwiper2 .container .row.photo_gallery_title {
    position: absolute;
    top: 10%;
    left: 24%;
    z-index: 1;
    text-align: center;
  }
  #Photo_Gallery .mySwiper2 .container .row.photo_gallery_title h1 {
    font-size: 26px;
  }
  #Photo_Gallery .mySwiper2 .container .row.photo_gallery_title p {
    font-size: 17px;
    white-space: nowrap;
    color: #000;
    font-weight: 500;
    font-family: roboto, sans-serif;
  }
  #Photo_Gallery .mySwiper2 .swipper_btn2::after,
#Photo_Gallery .mySwiper2 .swipper_btn2::before {
    font-size: 24px;
    color: #d2f21b;
  }
  #Photo_Gallery .mySwiper2 .swipper_btn1::after,
#Photo_Gallery .mySwiper2 .swipper_btn1::before {
    font-size: 24px;
    color: #d2f21b;
  }
  #Photo_Gallery .mySwiper2 .swiper-pagination-fraction {
    bottom: 5%;
    left: 0;
    width: 100%;
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  #Our_Services_page {
    padding-top: 40px;
    padding-bottom: 70px;
  }
}
@media (max-width: 767px) {
  #Header .container .row.header_title {
    top: 170px;
  }
  #Header .container .row.header_title h1 {
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
  }
  #Header .container .header_title_2 {
    margin-top: 60px;
  }
}
@media (max-width: 575px) {
  nav.navbar {
    background-color: #131a28;
  }
  nav.navbar .container button.navbar-toggler {
    background-color: #c1c111;
    outline: none;
    box-shadow: none;
  }
  nav.navbar .container .collapse ul.navbar-nav li.nav-item a.nav-link {
    margin: 10px 62px;
    background-color: #22355c;
    text-align: center;
    transition: all 0.5s;
  }
  nav.navbar .container .collapse ul.navbar-nav li.nav-item a.nav-link:hover {
    background-color: #d2f21b;
    color: #000;
    border-radius: 20px;
  }
  #Header {
    height: 800px;
    height: 130vh;
    width: 100%;
  }
  #Header .container .row.header_title {
    margin: 0;
  }
  #Header .container .row.header_title h1 {
    font-size: 30px;
    font-weight: 400;
  }
  #Header .container .row.header_title p {
    font-size: 18px;
    line-height: 25px;
  }
  #About_djBeats .container .row.About_content iframe {
    width: 490px;
    height: 300px;
  }
  #Our_Services_page {
    padding-bottom: 50px;
  }
  #Our_Services_page .container .row.Services_content .row.ser_content h5 {
    padding-top: 10px;
  }
  #Courses_Trainings_page .container .row.Courses_cards .Cours_card_text {
    position: absolute;
    top: 25%;
    left: 22%;
    padding: 50px 30px;
    z-index: 3;
  }
  #Question_answer .container .row.Gallery_title h1 {
    font-size: 35px;
  }
  #Question_answer .container .row.Gallery_title p {
    font-size: 16px;
    padding-top: 25px;
  }
  #Ready_Training_page .container .row.Ready_Training_title h1 {
    font-size: 35px;
  }
}
@media (max-width: 520px) {
  #About_djBeats .container .row.About_content iframe {
    width: 440px;
  }
  #Ready_Training_page .container .row.Ready_Training_title h1 {
    font-size: 30px;
  }
  #Ready_Training_page .container .row.Ready_Training_title p {
    font-size: 17px;
  }
}
@media (max-width: 470px) {
  #Header .container .row.header_title h1 {
    font-size: 30px;
    font-weight: 400;
  }
  #About_djBeats .container .row.About_title h1 {
    font-size: 35px;
  }
  #About_djBeats .container .row.About_title p {
    font-size: 16px;
  }
  #About_djBeats .container .row.About_content iframe {
    width: 400px;
  }
  #Our_Services_page .container .row.Services_title h1 {
    font-size: 35px;
  }
  #Our_Services_page .container .row.Services_title p {
    font-size: 16px;
  }
  #Courses_Trainings_page .container .row.Courses_title h1 {
    font-size: 35px;
  }
  #Courses_Trainings_page .container .row.Courses_title p {
    font-size: 16px;
  }
  #Courses_Trainings_page .container .row.Courses_cards .Cours_card_text {
    transition: all 0.5s;
    position: absolute;
    top: 25%;
    left: 17%;
    padding: 50px 30px;
    z-index: 3;
  }
  #Our_Achievements_page .Archievements_content .Archivements_title {
    top: 10%;
  }
  #Our_Achievements_page .Archievements_content .Archivements_title h1 {
    font-size: 35px;
  }
  #Our_Achievements_page .Archievements_content .Archivements_title p {
    font-size: 17px;
  }
  #Our_Achievements_page .Archievements_content .Archivements_title .container h2 {
    font-size: 40px;
  }
  #Our_Teachers_page .container .row.Our_Teachers_title h1 {
    font-size: 35px;
  }
  #Our_Teachers_page .container .row.Our_Teachers_title p {
    font-size: 17px;
  }
  #Our_Students .container .row.Our_Student_title h1 {
    font-size: 35px;
  }
  #Our_Students .container .row.Our_Student_title p {
    font-size: 17px;
  }
  #Question_answer .container .row.Gallery_title h1 {
    font-size: 30px;
  }
  #Question_answer .container .row.Gallery_title p {
    font-size: 16px;
    padding-top: 25px;
  }
}
@media (max-width: 450px) {
  #Header .container .row.header_title {
    top: 145px;
  }
  #Header .container .row.header_title h1 {
    line-height: 36px;
    font-size: 25px;
  }
  #Header .container .row.header_title p {
    font-size: 17px;
  }
  #Header .container .row.header_title button.btn {
    width: 150px;
    height: 50px;
    font-size: 16px;
    border: 1px solid transparent;
    transition: all 0.4s;
  }
  #Header .container .row.header_title button.btn:hover {
    background-color: #345eb7;
    color: #fff;
    border: 1px solid #d2d224;
  }
  #Header .container .header_title_2 {
    margin-top: 35px;
  }
}
@media (max-width: 420px) {
  #About_djBeats .container .row.About_content iframe {
    width: 350px;
    height: 280px;
  }
  #Courses_Trainings_page .container .row.Courses_cards .Cours_card_text {
    transition: all 0.5s;
    position: absolute;
    top: 25%;
    left: 12%;
    padding: 50px 30px;
    z-index: 3;
  }
  #Ready_Training_page .container .row.Ready_Training_title h1 {
    font-size: 25px;
  }
  #Ready_Training_page .container .row.Ready_Training_title p {
    font-size: 16px;
  }
  #Ready_Training_page .container .row.Read_form form .Form_inp input {
    box-shadow: unset;
    padding: 8px 17px;
  }
  #Ready_Training_page .container .row.Read_form form .Form_text textarea {
    background-color: transparent;
    height: 120px;
    box-shadow: unset;
  }
}
@media (max-width: 409px) {
  #Our_Teachers_page .container .card_team_in .cards_item {
    height: unset;
  }
  #Question_answer .container .row.Gallery_title {
    padding-bottom: 0px;
    margin-bottom: 50px;
  }
  #Question_answer .container .row.Gallery_title h1 {
    font-size: 25px;
  }
  #Question_answer .container .row.Gallery_title p {
    font-size: 15px;
    padding-top: 25px;
  }
}
@media (max-width: 391px) {
  #Header .container .row.header_title h1 {
    font-size: 27px !important;
  }
  #Header .container .row.header_title h1 span {
    line-height: 35px;
  }
  #Header .container .row.header_title button.btn {
    font-size: 16px;
  }
}
@media (max-width: 370px) {
  #About_djBeats .container .row.About_content iframe {
    width: 300px;
    height: 250px;
  }
  #Our_Teachers_page .container .row.Our_Teachers_title h1 {
    font-size: 30px;
  }
}
@media (max-width: 356px) {
  #Header .container .row.header_title h1 {
    font-size: 22px !important;
    line-height: 30px !important;
  }
  #Header .container .row.header_title button.btn {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  #Header {
    height: 800px;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #About_djBeats {
    padding-top: 90px;
  }
  #About_djBeats .container .row.About_title h1 {
    font-size: 27px;
  }
  #About_djBeats .container .row.About_title p {
    font-size: 15px;
  }
  #Our_Services_page .container .row.Services_title h1 {
    font-size: 27px;
  }
  #Our_Services_page .container .row.Services_title p {
    font-size: 15px;
  }
  #Our_Achievements_page .Archievements_content .Archivements_title .container h2 {
    font-size: 35px !important;
  }
  #Our_Teachers_page .container .row.Our_Teachers_title h1 {
    font-size: 26px;
  }
  #Our_Teachers_page .container .row.Our_Teachers_title p {
    font-size: 15px;
  }
  #Our_Students .container .row.Our_Student_title h1 {
    font-size: 27px;
  }
  #Our_Students .container .row.Our_Student_title p {
    font-size: 15px;
  }
  #Courses_Trainings_page .container .row.Courses_title h1 {
    font-size: 27px;
  }
  #Courses_Trainings_page .container .row.Courses_title p {
    font-size: 15px;
  }
  #Courses_Trainings_page .container .row.Courses_cards .Cours_card_text {
    position: absolute;
    top: 22%;
    left: 5%;
  }
  #Courses_Trainings_page .container .row.Courses_cards .Cours_card_text a {
    width: 150px;
    height: 40px;
    margin-left: 24px;
  }
  #Courses_Trainings_page .container .row.Courses_cards .Cours_card_text a span {
    padding-top: 7px;
  }
  #Our_Achievements_page .Archievements_content .Archivements_title {
    top: 10%;
  }
  #Our_Achievements_page .Archievements_content .Archivements_title h1 {
    font-size: 30px;
  }
  #Our_Achievements_page .Archievements_content .Archivements_title p {
    font-size: 17px;
  }
  #Our_Achievements_page .Archievements_content .Archivements_title .container h2 {
    font-size: 40px;
  }
}
@media (max-width: 330px) {
  #About_djBeats {
    padding-top: 190px;
  }
}/*# sourceMappingURL=style.css.map */